{% extends 'base.html' %}
{% block title %}Payment-Successful{% endblock %}
{% block body %}


<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mb-5">Payment Successful</h1>
      <i class="fas fa-check-circle fa-10x text-success"></i>
      <p class="mt-3">Thank you for your purchase!</p>
      <a href="/" class="btn btn-outline-success">Home</a>
    <a class="btn btn-outline-success" href="/create_pdf/" role="button">Print Ticket</a>


    </div>
  </div>
</div>


{% endblock %}